.input-box {
    margin-top: 1em;
}

.input-box input {
    width: 100%;
    margin: 0 2%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px;
}

.typing-container {
    width: 60% !important;
    margin-top: 4% !important;
}

.timer {
    width: fit-content;
    position: absolute;
    left: 7%;
}

.insults-box {
    background-color: #FFA552;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 10px;
}

.insults-box-content {
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}