.input-box {
    margin-top: 1em;
}

.input-box input {
    width: 100%;
    margin: 0 2%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px;
}

.typing-container {
    width: 60% !important;
    margin-top: 4% !important;
}

.timer {
    width: fit-content;
    position: absolute;
    left: 7%;
    top: 230px;
}

@media screen and (max-width: 1300px) {
    .timer {
        position: unset;
        left: unset;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    .typing-container {
        width: unset !important;
        margin-bottom: 50px;
    }

    .input-box {
        padding: 0 20px;
    }
}

.dark-input{
    background-color: #444444;
}