.App {
    width: 100%;
    font-size: 18pt;
    min-height: 100vh;
}

.mode-toggle{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.mode-toggle.dark{
    filter: invert();
    background-color: revert;
}

.mode-toggle:hover{
    cursor: pointer;
}

html{
    min-height: 100vh;
}

.dark{
    background-color: #222222;
}